/**
 * @file
 * Minimal styles for Views remote pager.
 */

.vrp-pager.pager li span.text:before {
  content: '\0020';
}
.vrp-pager.pager li {
  white-space: nowrap;
}
.vrp-pager.pager li.pager-first span.icon:before {
  content: '\23EA';
}
.vrp-pager.pager li.pager-previous span.icon:before {
  content: '\25C4';
}
.vrp-pager.pager li.pager-up span.icon:before {
  content: '\25b2';
}
.vrp-pager.pager li.pager-next span.icon:before {
  content: '\25BA';
}
.vrp-pager.pager li.pager-last span.icon:before {
  content: '\23E9';
}
/* Render inactive items differently. */
.vrp-pager.pager .inactive {
  opacity: .5;
}

@media screen and (max-width: 640px) {
  .vrp-pager.pager ul,
  .vrp-pager.pager li {
    padding: 0;
    margin: 0 .5em;
  }
  .vrp-pager.pager li a {
    text-decoration: none;
  }
  .vrp-pager.pager li span.text {
    display: none;
  }
}
